USE [master]
GO
/****** Object:  Database [QuanLyPhongMay]    Script Date: 04/10/2019 22:14:19 ******/
CREATE DATABASE [QuanLyPhongMay] ON  PRIMARY 
( NAME = N'QuanLyPhongMay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QuanLyPhongMay.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyPhongMay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QuanLyPhongMay_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyPhongMay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyPhongMay]
GO
/****** Object:  Table [dbo].[MAY]    Script Date: 04/10/2019 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAY](
	[MaMay] [nvarchar](50) NOT NULL,
	[ViTri] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_MAY] PRIMARY KEY CLUSTERED 
(
	[MaMay] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MAY] ([MaMay], [ViTri], [TrangThai]) VALUES (N'M1', N'Tang1', N'On')
INSERT [dbo].[MAY] ([MaMay], [ViTri], [TrangThai]) VALUES (N'M2', N'Tang2', N'On')
INSERT [dbo].[MAY] ([MaMay], [ViTri], [TrangThai]) VALUES (N'M3', N'Tang12345', N'on')
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 04/10/2019 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nvarchar](50) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SDT], [Email]) VALUES (N'KH04', N'TEST', N'fggf', N'912345678', N'kidxizaiqb@gmail.com')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SDT], [Email]) VALUES (N'KH1', N'Hung', N'Quang Binh', N'973468684', N'HungPQ16@gmail.com')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SDT], [Email]) VALUES (N'KH2', N'NV A', N'Hue', N'873468684', N'NVA@Fsoft.com.vn')
/****** Object:  Table [dbo].[DICHVU]    Script Date: 04/10/2019 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDV] [nvarchar](50) NOT NULL,
	[TenDV] [nvarchar](50) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[DonViGia] [nvarchar](50) NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DICHVU] ([MaDV], [TenDV], [DonViTinh], [DonViGia]) VALUES (N'DV1', N'Sting ', N'Chai', N'8000')
INSERT [dbo].[DICHVU] ([MaDV], [TenDV], [DonViTinh], [DonViGia]) VALUES (N'DV2', N'Cafe Sua', N'Ly', N'15000')
INSERT [dbo].[DICHVU] ([MaDV], [TenDV], [DonViTinh], [DonViGia]) VALUES (N'DV3', N'Ngua', N'Bao', N'20000')
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 04/10/2019 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[userName] [nvarchar](50) NULL,
	[pass] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TAIKHOAN] ([userName], [pass]) VALUES (N'ad', N'123')
/****** Object:  Table [dbo].[SUDUNGMAY]    Script Date: 04/10/2019 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUDUNGMAY](
	[MaKH] [nvarchar](50) NULL,
	[MaMay] [nvarchar](50) NULL,
	[NgayBatDauSuDung] [nvarchar](50) NULL,
	[GioBatDauSuDung] [nvarchar](50) NULL,
	[ThoiGianSuDung] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SUDUNGMAY] ([MaKH], [MaMay], [NgayBatDauSuDung], [GioBatDauSuDung], [ThoiGianSuDung]) VALUES (N'KH1', N'M1', N'2019-02-19', N'11:11', N'1')
/****** Object:  Table [dbo].[SUDUNGDICHVU]    Script Date: 04/10/2019 22:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUDUNGDICHVU](
	[MaKH] [nvarchar](50) NULL,
	[MaDV] [nvarchar](50) NULL,
	[NgaySuDung] [nvarchar](50) NULL,
	[GioSuDung] [nvarchar](50) NULL,
	[Soluong] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_SUDUNGMAY_KHACHHANG]    Script Date: 04/10/2019 22:14:20 ******/
ALTER TABLE [dbo].[SUDUNGMAY]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNGMAY_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[SUDUNGMAY] CHECK CONSTRAINT [FK_SUDUNGMAY_KHACHHANG]
GO
/****** Object:  ForeignKey [FK_SUDUNGMAY_MAY]    Script Date: 04/10/2019 22:14:20 ******/
ALTER TABLE [dbo].[SUDUNGMAY]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNGMAY_MAY] FOREIGN KEY([MaMay])
REFERENCES [dbo].[MAY] ([MaMay])
GO
ALTER TABLE [dbo].[SUDUNGMAY] CHECK CONSTRAINT [FK_SUDUNGMAY_MAY]
GO
/****** Object:  ForeignKey [FK_SUDUNGDICHVU_DICHVU]    Script Date: 04/10/2019 22:14:20 ******/
ALTER TABLE [dbo].[SUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNGDICHVU_DICHVU] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DICHVU] ([MaDV])
GO
ALTER TABLE [dbo].[SUDUNGDICHVU] CHECK CONSTRAINT [FK_SUDUNGDICHVU_DICHVU]
GO
/****** Object:  ForeignKey [FK_SUDUNGDICHVU_KHACHHANG]    Script Date: 04/10/2019 22:14:20 ******/
ALTER TABLE [dbo].[SUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNGDICHVU_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[SUDUNGDICHVU] CHECK CONSTRAINT [FK_SUDUNGDICHVU_KHACHHANG]
GO
