<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QuanLyMayTinh</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MayController</display-name>
    <servlet-name>MayController</servlet-name>
    <servlet-class>fpt.controller.MayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MayController</servlet-name>
    <url-pattern>/MayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemMaySeverlet</display-name>
    <servlet-name>ThemMaySeverlet</servlet-name>
    <servlet-class>fpt.controller.ThemMaySeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemMaySeverlet</servlet-name>
    <url-pattern>/ThemMaySeverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaMaySeverlet</display-name>
    <servlet-name>SuaMaySeverlet</servlet-name>
    <servlet-class>fpt.controller.SuaMaySeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaMaySeverlet</servlet-name>
    <url-pattern>/SuaMaySeverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaMaySeverlet</display-name>
    <servlet-name>XoaMaySeverlet</servlet-name>
    <servlet-class>fpt.controller.XoaMaySeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaMaySeverlet</servlet-name>
    <url-pattern>/XoaMaySeverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KhachHangSeverlet</display-name>
    <servlet-name>KhachHangSeverlet</servlet-name>
    <servlet-class>fpt.controller.KhachHangSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhachHangSeverlet</servlet-name>
    <url-pattern>/KhachHangSeverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemKhachHangSeverlet</display-name>
    <servlet-name>ThemKhachHangSeverlet</servlet-name>
    <servlet-class>fpt.controller.ThemKhachHangSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemKhachHangSeverlet</servlet-name>
    <url-pattern>/ThemKhachHangSeverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DichVuServerlet</display-name>
    <servlet-name>DichVuServerlet</servlet-name>
    <servlet-class>fpt.controller.DichVuServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DichVuServerlet</servlet-name>
    <url-pattern>/DichVuServerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemDichVuSeverlet</display-name>
    <servlet-name>ThemDichVuSeverlet</servlet-name>
    <servlet-class>fpt.controller.ThemDichVuSeverlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemDichVuSeverlet</servlet-name>
    <url-pattern>/ThemDichVuSeverlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangKyMayServlet</display-name>
    <servlet-name>DangKyMayServlet</servlet-name>
    <servlet-class>fpt.controller.DangKyMayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangKyMayServlet</servlet-name>
    <url-pattern>/DangKyMayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangKyDVServlet</display-name>
    <servlet-name>DangKyDVServlet</servlet-name>
    <servlet-class>fpt.controller.DangKyDVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangKyDVServlet</servlet-name>
    <url-pattern>/DangKyDVServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>fpt.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>fpt.controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
</web-app>